# Gradle arquivos temporários e builds
.gradle/
build/

.idea/
*.iml
.vscode/

local.properties

# Outros arquivos do sistema
.DS_Store

# Ignorar relatórios de problemas
.idea/
build/
.gradle/
local.properties
C:/